.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;

    .dashboard{
        display: flex;
        flex-direction: column;
        width: calc(100% - 256px);
        margin-left: auto;

        .content{
            width: 100%;
            padding: .9rem 1.7rem;
        }
    }

    @media (max-width: 768px){
        &{
            .dashboard{
                width: 100%;

                .content{
                    padding: .9rem 1.5rem;
                    padding-top: 0;
                }
            }
        }
    }
}