.wrapper{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    // justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    max-width: 960px;
    flex-wrap: wrap;

    .icon{
        margin: auto;
        svg{
            color: #3784fb;
            font-size: 2.4rem;
            margin-bottom: 12px;
        }
    }
}