@import "../../../../styles/constants.scss";

.wrapper {
  width: 100%;

  .top {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 700;
      font-size: 1.7rem;
      letter-spacing: 0.4px;
      margin-bottom: 1.5rem;
    }
  }

  .categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 1rem;

    .card {
      width: 13%;
      border: 1px solid #ccc;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      padding: 18px 18px;
      border-radius: 6px;
      position: relative;

      .menuIcon {
        position: absolute;
        top: 5%;
        right: 3%;
        font-size: 1.2rem;
        cursor: pointer;
      }

      .image {
        height: 80px;
        width: 90%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .name {
        text-align: center;
        font-size: 0.96rem;
        font-weight: 500;
        color: #313131;
      }
    }
  }
}

// Edit Category

.editWrapper {
  width: 100%;

  .inputError {
    color: #e8521e !important;
    font-size: 0.8rem !important;
    margin-top: 3px !important;
  }

  .top {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 700;
      font-size: 1.7rem;
      letter-spacing: 0.4px;
      margin-bottom: 1.5rem;
    }
  }

  .addForm {
    width: 100%;
    max-width: 700px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 2rem;
    margin-top: 0rem;

    .group {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 1.1rem;

      input,
      select {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding-left: 1rem;
        outline: none;
        height: 3rem;
      }

      .upload {
        width: 100%;
        height: 8rem;
        border-radius: 14px;
        border: 1px solid #e8e6e6;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s;
        padding: 10px 0;
        margin-top: 10px;
        padding-left: 0rem;

        .profile {
          width: 6.3rem;
          height: 6.3rem;
          border-radius: 50%;
          background-color: #f7f7f7;
          @include flexCenter;

          img {
            width: 100%;
            border-radius: 50%;
            transform: scale(.8);
          }
        }

        .uploadContent {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex: 0.6;
        }

        &:hover {
          background-color: #f7f7f7;
          transition: all 0.3s;
        }

        .icon {
          width: 2.5rem;
          height: 2.5rem;
          background-color: #e8e6e6;
          border-radius: 50%;
          @include flexCenter;

          img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
          }

          svg {
            font-size: 1.1rem;
          }
        }

        p {
          font-size: 0.71rem;
          color: gray;
          font-weight: 500;
          letter-spacing: 0.3px;
          max-width: 80%;
          margin: 10px auto;
          margin-top: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 4px;

          span:nth-child(1) {
            font-weight: 700;
            color: #3a3a3a;
            font-size: 0.86rem;
            text-decoration: underline;
          }
        }
      }
    }

    .button {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
